body{
   margin: 0;
   padding: 0;
   background-image: url(img/background.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
}
p, li{
   color: lightsteelblue;
   position: relative;
}
.title{
   text-decoration: underline;
   font-weight: bold;
   font-size: 2em;
   color: purple;
   animation: background-change 3s 2;
}
@keyframes background-change{
     0%{ 
      color: skyblue; 
   }
     50%{ 
      color: aliceblue;
   }
     100%{ 
      color: lavender; 
   }
}
.title strong{
   animation: initials 5s infinite;
}
@keyframes initials{
     0%{ 
      color: red; 
   }
     50%{ 
      color: lavenderblush;
   }
     100%{ 
      color: darkblue; 
   }
}
.h3 b, .h4 b{
   color: darkgoldenrod;
}
.h2, .h3{
   text-decoration: underline;
}
.h3{
   animation: align1 5s 1;
}
.text2{
   animation: align2 5s 1;
}
@keyframes align1{
     0%{
      margin-left: 2000px;
     }
}
@keyframes align2{
      0%{
         margin-right: 2000px;
      }
}
.change1{
   animation: change1 3s 3;
}
.change2{
   animation: change2 3s 3 1s;
}
.change3{
   animation: change3 3s 3 2s;
}
.change4{
   animation: change4 3s 3 3s;
}
@keyframes change1{
     0%{
      color: brown;
   }
     25%{
      color: grey;
     }
     50%{ 
      color: darkkhaki;
   }
     100%{ 
      color: brown; 
   }
}
@keyframes change2{
     0%{
      color: brown;
   }
     25%{
      color: grey;
     }
     50%{ 
      color: darkkhaki;
   }
     100%{ 
      color: brown; 
   }
}
@keyframes change3{
     0%{
      color: brown;
   }
     25%{
      color: grey;
     }
     50%{ 
      color: darkkhaki;
   }
     100%{ 
      color: brown; 
   }
}
@keyframes change4{
     0%{
      color: brown;
   }
     25%{
      color: grey;
     }
     50%{ 
      color: darkkhaki;
   }
     100%{ 
      color: brown; 
   }
}
.text strong{
   animation: initials 5s infinite;
}
.text{
   font-size: 150%;
   animation: appear 5s 1;
   position: relative;
   margin-top: 0.7em;
}
@keyframes appear{
     0%{
      visibility: hidden;
   }
     100%{ 
      visibility: visible; 
   }
}
.slider{
  width: 40%;
  height: 50vh;
  overflow: hidden;
  position: absolute;
  top: 80%;
  left: 24%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.icon{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 3px solid white;
  margin: 10px;
  cursor: pointer;
  caret-color: transparent;
}
input[name="radio"]{
  position: absolute;
  visibility: hidden;
}

.list{
  width: 400%;
  height: 50vh;
  display: flex;
}

.img{
  width: 100%;
  transition: 0.6s;
}
img{
  width: 100%;
  height: 50vh;
}

#box1:checked ~ .a1{
  margin-left: 1px;
}
#box2:checked ~ .a2{
  margin-left: -35%;
}
#box3:checked ~ .a3{
  margin-left: -100%;
}
#box4:checked ~ .a4{
  margin-left: -75%;
}
em{
   animation: align1 3s 1;
}
i{
   animation: align2 3s 1;
}
li{
   text-align: center;
   animation: list 3s 1;
   list-style: none;
}
@keyframes list{
      0%{
      margin-left: 3000px;
      }
}
video{
   position: absolute;
   width: 40%;
   height: 50vh;
   left: 50%;
   top: 55%;
}